@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

.bg-primary {
  background-color: #1E3A8A;
}

.bg-secondary {
  background-color: #3B82F6;
}

.bg-accent {
  background-color: #FBBF24;
}
